.all {
    max-width: 40vw;
    max-height: 60vh;
    overflow: auto;
}

.df {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.title {
    font-family: "montserratBold";
    font-size: 1.2em;
}

@keyframes slide {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}