.left {
    display: inline-block;
    padding: 10px 30px 10px;
    background-color: #fff;
}

.body {
    margin-bottom: 5%;
}

.textContent {
    max-width: 55vw;
}

.bar {
    max-width: 20vw;
    background-color: rgba(201, 201, 201, 0.507);
    min-height: 100vh;
    padding: 3% 5px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.bar * {
    color: black!important;
}

.bar p {
    text-align: left!important;
}

.flex {
    display: flex;
}

.round {
    border-radius: 50%;
    padding: 10px 5px 10px;
    border: 5px solid #4a00b4;
    display: block;
    color: #4a00b4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.body li {
    margin-left: 10%;
}

.maine {
    margin: 0px 2% 3%;
}

.contain {
    padding: 20px 30px 10px;
}

.ds {
    margin-bottom: 20px;
}

.mess {
    max-height: 50vh;
    overflow: auto;
    position: fixed;
    scroll-padding-block-start: 20px;
    z-index: 3;
    right: 10%;
    border-radius: 20px;
    bottom: 10%;
    padding: 10px 10px 10px;
    background-color: white;
    border-radius: 50%;
}

.message {
    width: 30%;
    max-height: 50vh;
    overflow: auto;
    position: fixed;
    scroll-padding-block-start: 20px;
    z-index: 3;
    right: 5%;
    border-radius: 20px;
    bottom: 10%;
}

.closeur {
    position: absolute;
    z-index: 4;
    right: 5%;
}

.dg input,
.dfss input,
.dg textarea {
    color: #000!important;
}

.digi {
    margin: 30px 10px 20px;
}

.area {
    width: 100%!important;
    border-color: #4a00b4!important;
}

.checkbox {
    margin-left: 15%;
    padding: 10px 20px 10px;
}

.img {
    max-height: 80px;
}

.links {
    padding-top: 20px;
}

.mob .nav {
    padding: 0!important;
    margin: 0!important;
}

.mob .img {
    padding: 5px 10px 0px 5px;
    height: 60px;
}

.mob .app p {
    padding: 5px 0px 5px;
}

.mob .profil {
    width: 100%;
    margin-bottom: 10px;
}

.mob .links {
    display: none;
}

.dfs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mob .dfs {
    justify-content: space-between!important;
}

.ta {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.mob .df {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: auto!important;
}

.left textarea {
    font-family: "Montserrat";
    padding: 10px 20px 10px;
    color: #000;
}

.mob .nav {
    height: auto!important;
}

.mob .df div {
    width: 100%;
    height: auto!important;
}

.desk .ta {
    display: none;
}

.desk p {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 7px!important;
}

.menu {
    display: none;
}

.dfb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MontserratBold";
    font-size: 1.2rem;
}

.dfss {
    align-items: center;
    display: table;
}

.outro {
    padding: 10px 80px 10px;
}

.dfss a {
    margin-left: 10px;
}

.right {
    width: 70%;
}

.dg textarea {
    padding: 10px 20px 10px;
}

.tab {
    height: 100px;
    border: 2px solid #4a00b4;
    overflow: auto;
    padding: 10px 20px 10px;
    margin-top: 10px;
}

.ds {
    display: flex;
    align-items: center;
}

.fixed {
    position: fixed!important;
    top: 10%;
    flex: 1;
    max-width: 65%;
    z-index: 2;
}

.lending {
    background-image: url("/site.svg");
    background-repeat: no-repeat;
    background-color: #4a00b4;
    background-size: 500px 300px;
    background-position: 90% -5%;
}

.pad {
    width: 60%;
    padding: 20px 30px 10px;
}

.app {
    width: 55%;
}

.links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.p {
    color: #fff;
    width: 50%;
    padding-bottom: 30px;
}

.main {
    margin-top: 2%;
    scroll-behavior: smooth;
}

.pad h1 {
    text-transform: uppercase;
    color: #FFF;
}

.as {
    margin: 20px 0px 20px;
}

.art table thead {
    background-color: #4a00b4;
}

.art table thead tr:first-child th {
    color: #fff!important;
    font-size: .88em;
}

.art table {
    width: 90%;
    margin-bottom: 30px;
}

.art table th {
    color: black;
    padding: 10px 20px 10px;
}

.art tr:nth-child(even) {
    background: rgb(217, 211, 235)!important;
}

.art table td {
    padding: 10px 10px 7px;
}

.art table thead tr td:first-child::before {
    clear: both;
    padding-left: 10px;
}

.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-bottom: 20px;
}

.dg input {
    width: 100%;
    border-bottom: 0 solid white;
}

.border {
    border-bottom: 1px solid #4a00b4;
    margin-bottom: 20px;
}

.dg {
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1fr;
    /* border: 1px solid #4a00b4;*/
    border-bottom: 1px solid #4a00b4;
    padding: 10px 10px 0px;
    color: #000;
    margin-bottom: 20px;
    width: 100%;
}

.dg textarea {
    margin-top: 10px;
    width: 100%;
    font-family: "Montserrat";
}

.profil {
    height: 60%;
    width: 40%;
}

.gen {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}

.end {
    margin-bottom: 20px;
}

.nav {
    text-align: center;
    padding: 20px 10px 20px;
}

.active {
    color: #fff;
    background-color: #4a00b4;
    padding: 5px 10px 3px;
    border-bottom: 3px solid #e77204;
    text-decoration-style: solid;
}

.desk {
    height: 60%;
    max-width: 90%;
    border-radius: 20px;
    padding: 5px 10px 3px;
    background-color: #fff;
    height: 80vh;
    overflow: auto;
}

.offDesk {
    padding: 5px 10px 3px;
    height: 100%;
}

.offMob {
    width: 35%;
    height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #4a00b4;
    padding: 5px 10px 3px;
    overflow: auto;
}

.mob {
    width: 45%;
    height: 80vh;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px 3px;
    overflow: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.nope {
    display: none;
}