.modal {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    position: absolute;
    padding: 20px 30px 10px;
    border-radius: 20px;
}

.app {
    width: 100vw;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 5;
}

.header {
    transform: translate(100%, -50%);
}