html,
body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    font-weight: 600;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal2 {
    opacity: 0;
    transform: translateY(50px);
}

.reveal-visible {
    opacity: 1;
    transition: 1s cubic-bezier(.5, 0, 0, 1) transform;
    transform: translateY(0);
}

p {
    font-weight: 600;
    text-align: justify;
    padding: 10px 20px 10px;
    line-height: 1.5em;
    color: rgb(44, 44, 44);
}

p::first-letter {
    margin-left: 20px;
    text-transform: uppercase;
}

.active {
    color: rgb(233, 88, 4)!important;
}

.btnPrimary {
    padding: 5px 20px 3px;
    background-color: #4a00b4;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

.bntDisable {
    padding: 5px 20px 3px;
    background-color: #3f3f3f;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

b {
    font-weight: bold;
    color: black;
}

.op {
    z-index: 10000;
}

.dfb {
    display: flex;
    justify-content: space-between;
}

.btnPri {
    padding: 7px 20px 7px;
    background-color: #4a00b4;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.btnSecondary {
    padding: 5px 20px 3px;
    border-radius: 12px;
    color: #4a00b4;
    border: 1px solid #4a00b4;
}

[class*="btn"] {
    text-decoration: none;
    line-height: 1.25;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--main-color);
    --main-color: #000000aa;
    --primary-color: #4a00b4;
}

:root {
    --main-color: #000000bb;
    --primary-color: #4a00b4;
}

@font-face {
    font-family: "montserratBold";
    src: url(/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(/Montserrat/Montserrat-Regular.ttf);
}

h1,
h2 {
    font-family: "montserratBold"!important;
    color: black;
}

.db {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 90vw;
    display: flex;
    justify-content: center;
    padding: 20px 30px 10px;
}

.fine {
    color: green;
    font-size: .88em;
}

a:hover {
    cursor: pointer;
}

input[type=password] {
    list-style: initial!important;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-size: .88em;
    color: rgb(44, 44, 44);
    font-weight: bold;
    font-family: "Montserrat"!important;
}

select,
option {
    border: 0!important;
    font-family: "Montserrat";
    padding: 5px 10px 5px;
    color: #4a00b4;
    outline: transparent;
    background-color: transparent;
}

.df {
    display: flex;
    justify-content: space-evenly;
}

.dfss {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dfs {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 2%;
    align-items: center;
}

button {
    list-style: none;
    border: 0;
    box-decoration-break: 0;
    font-family: "Montserrat";
}

.error {
    color: red;
    padding: 10px 20px 10px;
    font-size: .88em;
}

.h2 {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.h1 {
    font-family: "montserratBold";
    color: black;
    font-size: 2em;
}

.logo {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log {
    font-size: large;
    font-weight: bold;
    color: #4a00b4;
}

.split {
    padding: 20% 20px .2%;
}

#input {
    min-width: 30%;
    width: 100%;
}

input {
    font-family: "Montserrat";
    outline: transparent;
    margin-right: 20px;
    padding: 7px 20px 7px;
    border-left: 0px;
    border-top: 0px;
    border-color: #4a00b4;
    border-right: 0px;
    list-style: none;
    text-decoration: none;
}