.text {
    max-width: 40vw;
    padding: 20px 50px 10px;
}

.df {
    display: flex;
    justify-content: space-between;
    margin: 10px 5% 10px;
}

.description {
    padding: 10px 30px 10px;
    margin-left: 20px;
    margin-right: 5px;
}

.right {
    margin-right: 5%;
}

.btns {
    margin-top: 2%;
    width: 35vw;
    display: flex;
    margin-left: 7%;
    justify-content: space-between;
}

.def {
    display: flex;
}

.span {
    padding: 10px 20px 10px;
    margin-left: 7%;
}

.icones {
    margin: 20px 20px 20px;
    margin-top: 5%;
}

.icones center {
    padding-bottom: 20px;
}

.deco {
    padding: 5px 100px 2px;
}

.pub {
    margin: 20px 7% 20px;
    height: 60vh!important;
    width: 80%;
}

.pub img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.raison {
    background-image: url("/dessin.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 10%;
}

.main {
    max-width: 100vw!important;
}

.dfc {
    display: flex;
    justify-content: space-evenly;
}

.raison center {
    padding-top: 3%;
}

.h3 {
    color: #ff5500!important;
    margin-bottom: 20px;
}

.card {
    padding: 10px 20px 100px;
    color: #ccccccff;
    box-shadow: #9860e79b 10px 10px 10px;
    min-width: 40vw;
    text-align: center;
    border-radius: 20px;
    z-index: 3;
    line-height: 2rem;
}

.card:hover {
    box-shadow: #7d2eeb9b 20px 20px 20px;
    transition: box-shadow .5s;
}

.card3 {
    margin: 3% 0px 10px;
    text-align: center;
    width: 30%;
    background: rgba(27, 27, 243, 0.033);
    padding: 20px 20px 20px;
    border-radius: 20px;
    box-shadow: grey 10px 10px 20px;
}

.icon {
    margin: 10px 0px 10px;
}

.contact {
    margin: 5% 10% 20px;
}

#tel {
    border-radius: 10px;
    min-width: 30%;
    margin-right: 20px;
    padding: 7px 20px 7px;
    outline: transparent;
}

.footer {
    height: 40vh;
    max-width: 100vw;
    background-color: #4a00b4;
    color: #fff;
    padding: 20px 10px 10px;
    z-index: 3;
}

.ttx {
    margin-left: 20px;
    color: #fff;
}

.op {
    margin-left: 5%;
}

.dolor {
    padding-top: 3%;
}