.modal {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    min-width: 30vw;
    min-height: 40vh;
    max-width: 95vw;
    max-height: 90vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal2 {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    max-width: 55vw;
    max-height: 90vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(1.5px);
    background-color: #0003;
    z-index: 5;
}

.header {
    transform: translate(100%, -50%);
}