.modal {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    min-width: 30vw;
    min-height: 40vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
}

.app {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(1.5px);
    z-index: 5;
}

.header {
    transform: translate(100%, -50%);
}