.modal {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    min-width: 30vw;
    min-height: 40vh;
    max-width: 95vw;
    max-height: 90vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu {
    z-index: 5;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    width: 80vw;
    height: 100vh;
    padding: 20px 30px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: menu .5s ease-in-out;
    animation-fill-mode: forwards;
}

.modal2 {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    width: 55vw;
    max-height: 95vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(1.5px);
    background-color: #0003;
    z-index: 5;
}

.remove {
    animation: remove .5s ease-in-out;
    animation-fill-mode: forwards;
}

.appMenu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 4;
    position: fixed;
}

.header {
    transform: translate(100%, -50%);
}

@keyframes menu {
    from {
        transform: translateX(50%);
        opacity: .99;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes remove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 1150px) {
    .modal {
        max-width: 95vw;
    }
    .modal2 {
        width: unset;
        max-width: 95vw;
        padding: 2px 3px 3px;
    }
    .header {
        transform: translate(90%, 0%);
    }
}