.dg textarea {
    padding: 10px 20px 10px;
}

.dg textarea {
    margin-top: 10px;
    width: 100%;
    font-family: "Montserrat";
}

.card {
    padding: 10px 20px 5px;
    margin: 10px 20px 5px;
    background-color: #4a00b4;
    color: white;
    width: 25vw;
    border-radius: 20px;
}

.dgs {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.wa {
    padding: 8px 7px 5px;
    background-color: green;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del {
    padding: 8px 7px 5px;
    background-color: red;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wraper {
    padding: 20px 30px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 250, 193);
    margin: 10px 10%;
}

.icontainer {
    padding: 5px 10px 5px;
    background-color: #4b00b41f;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.grid>div {
    margin-bottom: 20%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pad {
    margin-top: 5%;
}

.dg input {
    width: 100%;
    border-bottom: 0 solid white;
}

.account {
    margin-left: 20px;
}

.account span {
    margin: 0!important;
}

.end {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    align-items: center;
}

.exp {
    max-width: 60%;
    padding: 10px 20px 10px;
}

.pros {
    max-width: 5%;
    line-height: 2rem;
}

.dg {
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1fr;
    border-bottom: 3px solid #4a00b4;
    padding: 10px 10px 0px;
    color: #000;
    margin-bottom: 20px;
    margin-bottom: 5%;
    width: 55vw!important;
}

.left,
.right {
    margin-top: 4%;
}

.bar {
    height: 100vh;
    background: #4a00b4;
    width: 20vw;
    position: fixed;
    overflow-y: auto;
}

.db {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 80%;
    margin-left: 20vw;
}

.bar .span {
    color: rgb(204, 202, 202);
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
}

.span {
    display: flex;
    align-items: center;
}

.nav {
    padding: 40px 10px 2px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app {
    border-bottom: 2px solid #4a00b4;
}

.bar .span:hover,
.content .span:hover,
.active:hover,
.active2:hover {
    cursor: pointer;
}

.acticon {
    margin-right: 10px;
    height: 20;
    color: #fff!important;
}

.icon {
    margin-right: 10px;
    /* background-color: rgba(201, 201, 201, 0.26); */
    border-radius: 5px;
    color: #4a00b4!important;
}

.icon:hover {
    cursor: pointer;
}

.ic {
    margin-right: 10px;
}

.dgc {
    display: flex;
    margin-bottom: 8%;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.dbcText {
    color: #fff;
    font-family: "MontserratBold";
    font-size: 1.4em;
}

.h1 {
    font-family: "MontserratBold";
    font-size: 2em;
    padding: 10px 20px 10px;
    margin: 20px;
    color: #4a00b4;
}

.active {
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px 10px;
    display: flex;
    background-color: #ffffff54;
    align-items: center;
}

.active2 {
    background-color: #4a00b4;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 20px 10px;
    display: flex;
    transition: background-color .5s;
    align-items: center;
}

.barMobile .span {
    color: #FFF9;
    padding: 20px 0px 10px;
    display: flex;
    align-items: center;
}

.barMobile {
    gap: 5vw;
}

@media screen and (max-width: 1150px) {
    .dgs {
        flex-direction: unset;
    }
    .wraper {
        flex-wrap: wrap;
        padding: 5px 10px 3px;
    }
    .bar {
        display: none;
    }
    .content {
        width: 100%;
        margin-left: unset;
    }
}