.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1.5px);
    background-color: #0003;
}

.container nav {
    padding: 0px 20px 0px;
}

.icon {
    margin-right: 10px;
    height: 20;
    color: #4a00b4!important;
}

.dfss {
    display: flex;
    align-items: center;
    justify-self: start;
    border: 1px solid #4a00b4;
    border-radius: 20px;
    padding: 7px 20px 5px
}

.barMenu {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.acticon {
    margin-right: 10px;
    height: 20;
    color: #fff!important;
}

.bar {
    height: 100vh;
    background: #4a00b4;
    width: 20vw;
    position: fixed;
}

.btnSpace {
    margin-bottom: 5%;
}

.bar .span {
    color: #FFF9;
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
}

.bar .span:hover,
.active:hover {
    cursor: pointer;
}

.ava {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.avatar {
    margin: 2% 5% 5%;
    padding: 5% 10% 5%;
    height: 100px;
}

.active {
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px 10px;
    display: flex;
    background-color: #ffffff54;
    align-items: center;
}

.disagree {
    background-color: #4a00b4;
    color: white;
    border-radius: 5px;
    border: 2px solid inherit;
    padding: 5px 10px 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.mobdfss {
    display: flex;
    align-items: center;
    justify-self: start;
    border: 1px solid #FFF;
    border-radius: 20px;
    background-color: #FFF;
    margin-top: 5px;
    padding: 7px 20px 5px
}

.disagree2 {
    background-color: rgb(231, 72, 9);
    color: white;
    border-radius: 20px;
    border: 2px solid inherit;
    padding: 5px 10px 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.disagree3 {
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid inherit;
    padding: 5px 10px 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.dg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.dfw {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 20px;
}

.txt {
    text-transform: uppercase;
}

.val {
    font-size: 2rem;
    color: rgb(226, 23, 23);
    text-align: center;
    font-family: "MontserratBold";
}

.ca {
    padding: 20px 20px 10px;
    background-color: rgb(216, 239, 252);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.agree {
    background-color: rgb(226, 23, 23);
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px;
    display: flex;
    align-items: center;
}

.end {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 5%;
}

.article {
    margin: 20px 0px 10px;
    flex: 1;
    margin-left: 20vw;
}

.article table thead {
    background-color: #4a00b4;
}

.article table thead tr:first-child th {
    color: #fff!important;
    font-size: .88em;
}

.article table {
    width: 100%;
    margin-bottom: 30px;
}

.article table th {
    color: black;
    padding: 10px 20px 10px;
}

.article tr:nth-child(even) {
    background: rgb(217, 211, 235)!important;
}

.article table td {
    padding: 10px 10px 10px;
    text-align: center!important;
}

.article table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* .article table td:nth-child(3) {
    width: 20%;
    text-align: justify;
} */

.article table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article table thead tr td:first-child::before {
    clear: both;
    padding-left: 10px;
}

.article2 {
    margin: 20px 5% 10px;
}

.article2 table thead {
    background-color: #4a00b4;
}

.article2 table thead tr:first-child th {
    color: #fff!important;
    font-size: .88em;
}

.article2 table {
    width: 100%;
    margin-bottom: 30px;
}

.article2 table th {
    color: black;
    padding: 10px 20px 10px;
}

.article2 tr:nth-child(even) {
    background: rgb(217, 211, 235)!important;
}

.article2 table td {
    padding: 10px 10px 10px;
    text-align: center!important;
}

.article2 table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article2 table td:nth-child(3) {
    width: 20%;
    text-align: justify;
}

.article2 table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article2 table thead tr td:first-child::before {
    clear: both;
    padding-left: 10px;
}

.h1 {
    color: #4a00b4!important;
    font-family: "MontserratBold";
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.right {
    min-width: 78vw;
    height: 100%;
}

.ok {
    z-index: 6;
    background-color: #fff;
    box-shadow: #4a00b4 3px 3px 10px;
    min-width: 30vw;
    min-height: 40vh;
    padding: 20px 30px 10px;
    border-radius: 20px;
}

.ok form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dab {
    margin-top: 20px;
}

.dfp {
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

.choose {
    padding: 10px 20px 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 40px 0px;
}

.act:hover,
.noact:hover {
    cursor: pointer;
}

.act {
    color: #4a00b4!important;
    font-family: "Montserrat";
    font-size: .92em;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0px 20px 5px;
    border-bottom: 4px solid orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noact {
    color: black!important;
    font-family: "Montserrat";
    font-size: .92em;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no {
    display: none;
}

@media screen and (max-width: 1150px) {
    .article2 {
        margin: 0;
    }
    .bar {
        display: none;
    }
    .barMobile {
        background: #4a00b4;
    }
    .barMobile .span {
        color: #FFF9;
        padding: 20px 0px 10px;
        display: flex;
        align-items: center;
    }
    .article {
        margin-left: 0;
    }
    .h1 {
        font-size: 1.2em;
    }
}